<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Scanbot</title>
  </head>
  <body>
    <main class="container">
      <h1>Scanbot</h1>
      <div class="container">
        <input
          type="text"
          name="filename"
          placeholder="example.pdf"
          aria-label="Text"
          id="filename"
        />
        <button onclick="scanData('pdf')" role="button">Scan Pdf</button>
        <button class="outline" role="button" onclick="reload()">reload</button>
        <progress id="progress" style="visibility: hidden"></progress>
      </div>
      <div class="grid" id="downloadGrid"></div>
    </main>
    <script>
      async function scanData(scantype) {
        document.getElementById("progress").style.visibility = "visible";
        let filename = document.getElementById("filename").value;
        const response = await fetch("/scanfunction", {
          method: "post",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            type: scantype,
            filename: filename,
          }),
        });
        const result = await response.text();
        document.getElementById("downloadGrid").innerHTML = result;
        document.getElementById("progress").style.visibility = "hidden";
      }

      async function reload() {
        const response = await fetch("/reload", {
          method: "post",
          headers: {
            "Content-Type": "application/json",
          },
        });
        const result = await response.text();
        document.getElementById("downloadGrid").innerHTML = result;
      }

      async function deleteFile(file) {
        const response = await fetch("/deleteFile", {
          method: "post",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            filepath: file,
          }),
        });
        const result = await response.text();
        document.getElementById("downloadGrid").innerHTML = result;
      }

      async function download(file) {
        const response = await fetch("/download", {
          method: "post",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            filepath: file,
          }),
        });

        const blob = await response.blob();
        const url = URL.createObjectURL(blob);

        const link = document.createElement("a");
        link.href = url;
        link.download = file.split("/")[1];

        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        URL.revokeObjectURL(url);
      }
    </script>
  </body>
</html>
